<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Numbers</title>
</head>
<body>
    <p> You can enter numbers (like 5,3,7,1,4)</p><br>
    <h1>Enter Numbers for Binary Search Tree</h1>
    
    <form action="/process-numbers" method="post">
        <label for="numbers">Enter numbers (comma-separated):</label><br>
        <input type="text" id="numbers" name="numbers" required><br><br>
        <button type="submit">Submit</button>
    </form>

    <form action="/previous-trees" method="get" style="margin-top: 10px;">
        <button type="submit">Show Previous</button>
    </form>
</body>
</html>
